<h1>Sign In</h1>
<div class="main_content">
  <%= form_with url: sign_in_path do |f| %>
    <fieldset class="inputs">
      <ol>
        <li>
          <%= f.label 'email:'%><br>
          <%= f.text_field :email, id: 'email' %>
        </li>
        <li>
          <%= f.label 'password:'%><br>
          <%= f.password_field :password, id: 'password' %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li class="action input_action">
          <%= f.submit 'Log In' %>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>
