<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <h2>Admin::Roles</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><%= link_to "New Role", new_admin_role_path %></span>
    </div>
  </div>
</div>
<div>&nbsp;</div>

<div class="index_content">
  <div class="index_as_table">
    <table class="index_table index">
      <thead>
        <tr>
          <th class="col col">Id</th>
          <th class="col col">Role</th>
          <th class="col col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
        <tr class="odd">
          <td class="col col"><%= role.id %></td>
          <td class="col col"><%= role.name %></td>
          <td class="col col-actions">
            <%= link_to "View", admin_role_path(role.id) %>
            <span class="breadcrumb_sep">/</span>
            <%= link_to "Edit", edit_admin_role_path(role.id) %>
            <span class="breadcrumb_sep">/</span>
            <%= link_to "Delete", admin_role_path(role.id),confirm: 'Are you sure?' , method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
