<div class="header" id="header">
  <h1 class="site_title" id="site_title">Company Policy</h1>
  <% if Current.user %>
    <% if Current.user.role_id == 1 %>
      <ul class="header-item tabs" id="tabs">
        <li class="menu_item" id="dashboard"><%= link_to 'Dashboard', admin_home_index_path %></li>
        <li class="menu_item" id="Users"><%= link_to 'Users', admin_users_path %></li>
        <li class="menu_item" id="Roles"><%= link_to 'Roles', admin_roles_path %></li>
      </ul>
    <% else %>
      <ul class="header-item tabs" id="tabs">
        <li class="menu_item"><%= link_to 'Dashboard', welcome_index_path %></li>
        <li class="menu_item"><%= link_to 'My Account', users_path %></li>
      </ul>
    <% end %>
  <ul class="header-item tabs" id="utility_nav">
    <li class="menu_item" id="current_user"><%= Current.user.email %></li>
    <li class="menu_item" id="current_user"><%= link_to 'Edit Password', edit_password_path %></li>
    <li class="menu_item" id="logout"><%= button_to 'Logout', logout_path, method: :delete %></li>
  </ul>
  <% else %>
  <ul class="header-item tabs" id="utility_nav">
    <li class="menu_item" ><%= link_to 'Sign Up', sign_up_path %></li>
    <li class="menu_item" ><%= link_to 'Login', sign_in_path %></li>
  </ul>
  <% end %>
</div>
